.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vscode/
yarn-error.log*
.turbo
/apps/client/.svelte-kit
/apps/client/.svelte-kit/
apps/client/.svelte-kit
apps/client/.svelte-kit/
/.svelte-kit
.svelte-kit/

