[submodule "apps/admin"]
	path = apps/admin
	url = https://github.com/Planet-Of-the-Bugs/admin.git
[submodule "apps/api"]
	path = apps/api
	url = https://github.com/Planet-Of-the-Bugs/api.git
[submodule "apps/support"]
	path = apps/support
	url = https://github.com/Planet-Of-the-Bugs/support.git
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/Planet-Of-the-Bugs/website.git