@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

html, body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: bold;
}
